# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'*':

  'CLI SCP':
    'prefix': 'cli_scp'
    'body': 'scp ${1:username}@${2:host}:${3:/path/to/hosts/file/host_file.txt} ${4:~/desktop}'

'.text.html.basic, .text.html.php':

  'PHP pre_dump':
    'prefix': 'php_predump'
    'body': """
      echo '<pre>';
      var_dump(${1:$variable});
      echo '</pre>';
    """

  'PHP js_dump':
    'prefix': 'php_jsdump'
    'body': """
      ?>
      <script>
        console.log( <?php json_encode( ${1:$variable} ) ?> );
      </script>
      <?php
    """

'.source.css':

  'CSS Media Query':
    'prefix': 'css_mediaquery'
    'body': """
      @media screen and (min-width: ${1:480px}) {${2:}}
    """

'.source.js':

  'JS IIFE':
    'prefix': 'js_iife'
    'body': """
      (function() {
        ${1:'use strict'}

      })();
    """
